@model Garage2.Models.Vehicle

@{
    ViewData["Title"] = "Unparking";
}

<h1>Unparking</h1>

<h3>Are you sure you want to unparking this vehicle?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WheelsNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WheelsNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
    </dl>

    <form asp-action="Unparking">
        <input type="hidden" asp-for="VehicleId" />
        <input type="submit" value="Unparking" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
