@model IEnumerable<Garage2.Models.Vehicle>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("⇵", "Sort", new { sortOrder = ViewBag.TypeSortParm })
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.ActionLink("⇵", "Sort", new { sortOrder = ViewBag.RegNumSortParm })
                @Html.DisplayNameFor(model => model.RegNum)
            </th>
            <th>
                @Html.ActionLink("⇵", "Sort", new { sortOrder = ViewBag.ParkingTimeSortParm })
                @Html.DisplayNameFor(model => model.ParkingTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParkingTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Unparking" asp-route-id="@item.Id">Unparking the vehicle</a>
                    </td>
                </tr>
            }   }
    </tbody>
</table>
